Source: qemu
Section: misc
Priority: optional
Maintainer: Maemo Integration <integration@maemo.org>
Build-Depends: debhelper (>= 5), quilt (>= 0.40), binutils (>= 2.16), nasm,
 libx11-dev, libsdl1.2-dev (>> 1.2.1), libncurses5-dev, zlib1g-dev,
 texi2html, sharutils, libgnutls-dev, libesd0-dev, etherboot,
 libpulse-dev,
 libfreebsd-dev [kfreebsd-i386 kfreebsd-amd64], 
 libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64],
 libbluetooth-dev [!kfreebsd-i386 !kfreebsd-amd64],
 libgpmg1-dev [amd64 arm armel hppa i386 powerpc sparc ppc64],
Standards-Version: 3.8.0

Package: sb2-qemu-arm
Architecture: amd64 i386 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qemu for scratchbox2
 Qemu packaging for sb2. This should become eventually temporary
 when mainstream qemu merges any remaining patches.

Package: scratchbox-devkit-qemu
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, scratchbox-core (>= 1.0.12)
Description: Qemu scratchbox devkit
 The qemu for the scratchbox1 lovers.

Package: sb-system-qemu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sbrsh
Description: System qemu for scratchbox
 This package includes system qemu to be used with scratchbox and sbrsh
 for cpu transparency.
